{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ author.title }}</h1>

  <p><strong>First_name:</strong>{{ author.first_name }}</p>
  <p><strong>Last_name:</strong> {{ author.last_name }}</p>
  <p><strong>Date_of_birth:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Date_of_death:</strong> {{ author.date_of_death }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for copy in author.authorinstance_set.all %}
    <hr>
    <p><strong>Book:</strong> {{copy.book}}</p>
    <p><strong>Imprint:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}
